<AuthorizeView>
    <Authorized>
        <div class="auth-section">
            <a href="logout">Log out</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="auth-section">
            <a href="login?redirectUri=/">Sign in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>